

@font-face {
    font-family: 'press_start_2pregular';
    src: url('../fonts/pressstart2p-vav7-webfont.eot');
    src: url('../fonts/pressstart2p-vav7-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pressstart2p-vav7-webfont.woff2') format('woff2'),
    url('../fonts/pressstart2p-vav7-webfont.woff') format('woff'),
    url('../fonts/pressstart2p-vav7-webfont.ttf') format('truetype'),
    url('../fonts/pressstart2p-vav7-webfont.svg#press_start_2pregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --mario_bricks: url("../images/mariobricks.png");
}

body {
    background-color: black;
    border-left: solid blue 2px;
    border-right: solid blue 2px;
    padding-left: 3px;
    padding-right: 3px;
    background-image: url("../images/twinklingPixelStars.gif");
    background-repeat: repeat;
    background-position: center;
    background-size: 800px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.innerBody {
    border-left: solid blue 2px;
    border-right: solid blue 2px;
}

/* navigation styles */

header {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 999;
    background-image: url("../images/mariobricks.png");
    background-size: 70px;
    background-repeat: no-repeat;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav li:hover {
    margin-bottom:.6rem;
}

nav li:hover a{
    color: lightyellow;
    font-size: 1.5rem;
}

nav a {
    color: yellow;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: press_start_2pregular, "Arial Black", fantasy;
    font-variant-caps: all-small-caps;
    background-color: black;
    padding: -1rem;
    box-shadow: 0 0 5px 5px #000000;
    opacity: 0;
    transition: opacity 350ms ease-in-out;
}

.nav-toggle-custom {
    display: none;
}

.nav-toggle-custom:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle-custom:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 100ms
}

.nav-toggle-custom:checked + .nav-toggle-label {
    color: lightyellow;
}

.nav-toggle-label {
    position: absolute;
    top: -5px;
    left: 21px;
}

.nav-toggle-label span {
    font-size: 3em;
}

::selection{
    background: none;
}

section {
    background-color: transparent;
}

h1, h2 {
    color: yellow;
    font-family: press_start_2pregular, "Arial Black", fantasy;
    font-variant-caps: all-small-caps;
}

input, textarea {
    -webkit-flex: 1;
    border: blue solid 2px;
}

p {
    color: chocolate;
    font-size: large;
}

label {
    float: top;
    color: yellow;
    font-family: press_start_2pregular, "Arial Black", fantasy;
    font-variant-caps: all-small-caps;
}

.navbarImage {
    background-image: url("../images/mariobricks.png");
    background-repeat: repeat-x;
    background-position-x: center;
}
.sectionHeader {
    padding: 1em;
    margin-bottom: 1em;
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: center;
}
.aboutMeHeaderImage {
    background-image: url("../images/TextBanner_Dissolve3dPixels_Blue.png");
}
.showcaseHeaderImage {
    background-image: url("../images/donkeykong_redbeam.png");
}
.arcadeTextSectionHeader {
    color: lightyellow;
    font-family: press_start_2pregular, "Arial Black", fantasy;
    font-variant-caps: all-small-caps;
    font-size: 1em;
}
.gameboyScreenWrapper {
    position: relative;
}

.carousel {
    position: relative;
    height: 70vh;
    width: 100%;
    margin: auto;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 3px;
}

#gameboyPowerLight {
    display: none;
}

.carousel_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid blue;
    border-radius: 10px;
}

.carousel_button_left_position {
    position: absolute;
    left: 0%;
    bottom: 40%;
}

.carousel_button_right_position {
    position: absolute;
    right: 0%;
    bottom: 40%;
}

.carousel_button_appearance {
    border: 0;
    cursor: pointer;
    background: transparent;
    border:none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.carousel_track-container {
    background: transparent;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    user-select: none;
}

.SVG_arrow {
    position: absolute;
    left: 0;
    top: 0;
    stroke: #88888888;
    fill: #88888888;
    stroke-width: 1px;
    transform:scale(.7);
}

.img-link {
    max-height: 2em;
    max-width: 100%;
}

#contactHeader {
    position: relative;
}

#xpBar {
    position: absolute;
    left: 0;
    bottom: 50%;
    z-index: -1;
    background-color: green;
    box-shadow: 0 0 5px 5px greenyellow inset;
    height: 20%;
    width: 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.footerContainer {
    height:50px;
}

.footerContainer img {
    position:absolute;
    height:50px;
    width: auto;
}

.arcadeText {
    color: lightyellow;
    font-family: press_start_2pregular, "Arial Black", fantasy;
    font-variant-caps: all-small-caps;
}

.arcadeTextButton {
    color: yellow;
    font-family: press_start_2pregular, "Arial Black", fantasy;
    font-variant-caps: all-small-caps;
    background-color: transparent;
    border: transparent;
}

.arcadeTextLink {
    color: yellow;
    font-family: press_start_2pregular, "Arial Black", fantasy;
    font-variant-caps: all-small-caps;
    border-left: lightyellow solid 2px;
    padding-left: .6em;
}

.navbarImage {
    background-image: url("../images/mariobricks.png");
    background-repeat: repeat-x;
    background-size: 70px;
    background-position-x: center;
}

.top-centered {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

.bottom-centered {
    position: absolute;
    left: 50%;
    top: unset;
    bottom: 10%;
    transform: translateX(-50%);
}

/*.carousel_nav {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    padding: 10px 0;*/
/*}*/

/*.carousel_indicator {*/
/*    border: 0;*/
/*    border-radius: 50%;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background: rgba(128,128,128,0.3);*/
/*    margin: 0 12px;*/
/*    cursor: pointer;*/
/*}*/

/*.carousel_indicator.current-slide {*/
/*    background: rgba(128,128,128,.75);*/
/*}*/

.is-hidden { display: none }

#top-spacer {
    height: 100px;
}

#AP_Logo {
    stroke: lightyellow;
    fill: lightyellow;
    max-width: 80%;
}

#AP_Logo path {
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: draw 10s forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

#AP_Logo g {
    fill-opacity: 0;
    animation: fill-in 2s 10s forwards;
}

@keyframes fill-in {
    to {
        fill-opacity: 1;
    }
}

#highScore {
    opacity: 0;
    animation: blink 1s 12s forwards infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#AP_title {
    color: yellow;
    font-family: press_start_2pregular, "Arial Black", fantasy;
    font-variant-caps: all-small-caps;
}



@media screen and (min-width: 768px){
    .nav-toggle-label {
        display: none;
    }

    header {
        text-align: center;
        position: fixed;
        width: 100%;
        height: 70px;
        z-index: 999;
        background-image: url("../images/mariobricks.png");
        background-size: 70px;
        background-repeat: repeat-x;
        background-position: center;
    }

    nav {
        all: unset;
        text-align: center;
        top: 10%;

    }

    nav a {
        all:unset;
        color: yellow;
        text-decoration: none;
        font-size: 2rem;
        font-family: press_start_2pregular, "Arial Black", fantasy;
        font-variant-caps: all-small-caps;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-top: .5rem;
    }

    nav li:hover {
        cursor: pointer;
        margin-top: .1rem;
    }

    nav li:hover a{
        color: lightyellow;
        font-size: 2.4rem;
    }

    .sectionHeader {
        padding: 1em;
        margin-bottom: 1em;
        background-repeat: no-repeat;
        background-size: 100% 40%;
        background-position: center;
    }
    .sectionHeader {
        padding-left: 5em;
        padding-right: 5em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-bottom: 5em;
        background-position: left;
        background-repeat: no-repeat;
        background-size: 75% 100%;
    }
    .arcadeTextSectionHeader {
        font-size: 2em;
    }
    .gameboyScreenWrapper {
        position: relative;
        height: 450px;
        width: 600px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15rem;
        padding-top: 50px;
        padding-bottom: 10px;
        background-color: gray;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 100px;
        box-shadow: 0 0 5px #404040 inset;
    }

    .carousel {
        position: relative;
        height: 90%;
        width: 70%;
        margin: auto;
        padding: 0;
        border: none;
        border-radius: unset;
        box-shadow: 0 0 30px 5px #ffffff;
    }

    #powerLightWrapper {
        position: absolute;
        top: 40%;
        left: 7%;
        height: 10px;
        width: 10px;
        background: red;
        border: red solid 1px;
        border-radius: 50%;
        box-shadow: 0 0 10px red;
    }

    .carousel_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top: 2px solid #00000088;
        border-left: 2px solid #00000088;
        border-bottom: none;
        border-right: none;
        border-radius: unset;
    }

    .carousel_button_left_position {
        position: absolute;
        left: unset;
        bottom: -200px;
        right: 120px;
    }

    .carousel_button_right_position {
        position: absolute;
        bottom: -165px;
        right: 20px;
    }

    .carousel_button_appearance {
        border: 0;
        cursor: pointer;
        background: #953C77;
        border:none;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        box-shadow: 5px 5px 0 1px #802862, 0 0 30px 10px #802862 inset;
    }

    .carousel_button_appearance:active {
        width: 81px;
        height: 81px;
        box-shadow: 0 0 30px 10px #802862 inset;
        transform: translate(5px, 5px);
    }

    .carousel_button_appearance_active {
        border: 0;
        cursor: pointer;
        background: #953C77;
        border:none;
        border-radius: 50%;
        width: 81px;
        height: 81px;
        box-shadow: 0 0 30px 10px #802862 inset;
        transform: translate(5px, 5px);
    }

    .SVG_arrow {
        position: absolute;
        left: 0;
        top: 0;
        stroke: #802862;
        fill: #802862;
        stroke-width: 1px;
        transform: unset;
    }

    #xpBar {
        bottom: 43%;
    }
}

