@font-face {
    font-family: 'press_start_2pregular';
    src: url('../fonts/pressstart2p-vav7-webfont.eot');
    src: url('../fonts/pressstart2p-vav7-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pressstart2p-vav7-webfont.woff2') format('woff2'),
    url('../fonts/pressstart2p-vav7-webfont.woff') format('woff'),
    url('../fonts/pressstart2p-vav7-webfont.ttf') format('truetype'),
    url('../fonts/pressstart2p-vav7-webfont.svg#press_start_2pregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.img-link {
    max-height: 2em;
    max-width: 100%;
}

p, label {
    color: chocolate;
    font-family: Calibri, serif;
}

.arcadeText {
    color: lightyellow;
    font-family: press_start_2pregular, "Arial Black", fantasy;
    font-variant-caps: all-small-caps;
}

h1 {
    color: yellow;
    font-family: press_start_2pregular, "Arial Black", fantasy;
    font-variant-caps: all-small-caps;
}

h3 {
    color: lightyellow;
    font-family: press_start_2pregular, "Arial Black", fantasy;
    font-variant-caps: all-small-caps;
}

body {
    background-color: black;
}